.avatarandsparta {
    width: 75%;
    margin: 30px auto 30px;
}

.avatar,
.sparta {
    width: 46.5%;
}

.avatar img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.sparta img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.avatar h3,
.sparta h3 {
    text-align: left;
}

.avatar p,
.sparta p {
    font-size: 1em;
    text-align: left;
}

.avatar {
    float: left;
}

.sparta {
    float: right;
}

.group {
    content: "";
    display: table;
    clear: both;
}
