.avatarandsparta {
    width: 75%;
    margin: 30px auto 30px;
}

.avatar,
.sparta {
    width: 46.5%;
}

.avatar img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.sparta img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.avatar h3,
.sparta h3 {
    text-align: left;
}

.avatar p,
.sparta p {
    font-size: 1em;
    text-align: left;
}

.avatar {
    float: left;
}

.sparta {
    float: right;
}

.group {
    content: "";
    display: table;
    clear: both;
}



.avengersandwolf {
    width: 75%;
    margin: 30px auto 30px;
}

.avengers,
.wolf {
    width: 46.5%;
}

.avengers img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.wolf img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.avengers h3,
.wolf h3 {
    text-align: left;
}

.avengers p,
.wolf p {
    font-size: 1em;
    text-align: left;
}

.avengers {
    float: left;
}

.wolf {
    float: right;
}

.group {
    content: "";
    display: table;
    clear: both;
}



.rightandleft {
    width: 75%;
    margin: 30px auto 30px;
}

.left,
.right {
    width: 46.5%;
}

.left img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.right img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
}

.left h3,
.right h3 {
    text-align: left;
}

.left p,
.right p {
    font-size: 1em;
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.group {
    content: "";
    display: table;
    clear: both;
}